.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.trybewarts-header-logo {
  height: 100px;
}

#trybewarts-header-title {
  align-self: flex-start;
}

main {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#radio {
  display: flex;
  flex-direction: column;
}

#checkbox {
  display: flex;
  flex-direction: column;
}

#avaliacao {
  display: flex;
}

#text-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

#counter {
  position: absolute;
  top: 89%;
  left: 92%;
}
