.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.trybewarts-header-logo {
  height: 100px;
}

#trybewarts-header-title {
  align-self: flex-start;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}
#trybewarts-forms-logo {
  height: 500px;

}