.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.trybewarts-login {
  display: flex;
  gap: 20px;
  padding: 0 20px;
}

.trybewarts-header-logo {
  height: 60px;
}

#trybewarts-header-title {
  align-self: center;
}

main {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

footer {
  display: flex;
  justify-content: space-around;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#nameInfo {
  display: flex;
  gap: 15px;
}

#input-name {
  flex-basis: 100%;
}

#input-lastname {
  flex-basis: 100%;
}

#addInfo {
  display: flex;
  gap: 15px;
  padding: 10px 0;
}

#input-email {
  flex-basis: 100%;
}

#house {
  flex-basis: 100%;
}

section {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#radio {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#checkbox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#avaliacao {
  display: flex;
  padding: 10px 0;
  gap: 10px;
  align-content: center;
}

#text-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

#counter {
  position: absolute;
  top: 89%;
  left: 92%;
}
